* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: #F5F5F5;
  height: 100%;
}

:root {
  --ant-color-text-secondary: rgba(0,0,0,0.45);
}

.ant-input-prefix {
  color: var(--ant-color-text-secondary);
}

.ant-otp-input-wrapper .ant-otp-input {
  height: 60px;
  font-size: 24px;
  text-align: center;
}

.otp-form-item .ant-form-item-explain-error {
  margin-top: 6px;
}